body {
    font-size : 14px;
}

h4 {
    font-weight : 600;
}

button {
    width : 32.5%;
    height : 30px;
}

select {
    width : 100%;
    text-align-last : center;
}

.container {
    margin-left : 0px;
    margin-right : 0px;
}

.clear10 {
    margin-top : 10px;
}

.clear20 {
    margin-top : 15px;
}

.accountBookYear {
    padding : 20px;
    font-weight : 600;
}

.accountBookGbn {
    padding : 20px;
    font-weight : 600;
}

.account {
    float : left;
    padding : 20px;
    border-right : 1px solid #ccc;
}

.account1 {
	width : 540px;
	font-weight : 600;
	overflow-y : scroll;
}

@media ( max-width : 540px ) {
    .account1 {
        width : 100%;
        font-weight : 600;
    }
}

.account2 {
    width : 690px;
    overflow-y : scroll;
}

.accountHeader {
    font-weight : 600;
    font-size : large;
}

.chart {
    float : left;
    width : 613px;
    padding-bottom : 20px;
}

.chartGbn {
    float : left;
    width : 1880px;
    height : 300px;
    padding-bottom : 20px;
}

.table {
    margin-bottom : 0px;
}

.table th {
    text-align : center;
}

.table > thead > tr > th,
.table > tbody > tr > th, 
.table > tfoot > tr > th {
    padding : 4px;
    background-color : #1f497d;
    color : #fff;
}

.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding : 4px;
}

#yearTd, #monthTd {
    width : 120px;
    height : 29px;
    text-align : center;
}

.saturday {
	color : blue;
}

.sunday {
	color : red;
}

.normal {
	color : black;
}